/*This file is imported into all the pages, and thus any CSS within will be applied to any page on the host.*/

body
{
	font-family: "Apple Chancery", Times, serif;
	background-color: #FFFFFF;
}

.center
{
	text-align:center;
}

body,td,th,input,label
{
	color: #000;
	font-family: "Apple Chancery", Times, serif;
}

table
{
	margin-left:auto;
	margin-right:auto;
}

input[type=checkbox]
{
  transform: scale(1.5);
}

.titleDiv
{
	display: flex;
	justify-content: center;
	position: relative;
}

input[type=button], [type=submit], th
{
	background-color: #B5ED4E;
}

input[type=button], [type=submit]
{
	border-radius: 8px;
}

input[type=text], [type=password], tr, textArea
{
	background-color: #9FFF30;
}

input[type=button]:disabled
{
	opacity: 0.3;
}

.greenBack
{
	background-color:#9FFF30;
}

.tabButton
{
	border-color:#000000;
	display:inline-block;
}