/*This file is imported into all the pages, and thus any CSS within will be applied to any page on the host.*/

body
{
	font-family: "Apple Chancery", Times, serif;
	background-color: #FFFFFF;
	background-image: url("background.png");
}

.center
{
	text-align:center;
}

body,td,th,input,label
{
	font-family: "Apple Chancery", Times, serif;

}

td,th
{
	border: 1px solid #000000;
}

.header
{
	background-color: #E7F9DB;
	border-top: 1px solid #000000;
}

table
{
	margin-left:auto;
	margin-right:auto;
}

input[type=checkbox]
{
  transform: scale(1.5);
}

.titleDiv
{
	display: flex;
	justify-content: center;
	position: relative;
}

input[type=button], [type=submit]
{
	background-color: #FFFFFF;
}

input[type=button], [type=submit]
{
	border-radius: 8px;
	border: 1px solid #4CAF50;
}

input[type=text], [type=password], tr
{
	background-color: #FFFFFF;
	border: 1px solid #4CAF50;
}

input[type=button]:disabled
{
	opacity: 0.3;
}

h1, h2
{
	font-size:3vw;
	font-weight: bold;
	display:inline-block;
}

.text
{
	border: 1px solid #000000;
}

.dtLabel
{
	font-size:1.8vw;
	position:absolute;
	right:0;
}

.greenBack
{
	background-color:#FFFFFF;
	border: 1px solid #4CAF50;
	border-radius: 4px
}

.tabButton
{
	border-color:#000000;
	display:inline-block;

}

.button
{
    font-size:3vw;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino",serif;
    font-weight:bold;
    padding: 12px 25px;
	width: 80%;
	text-decoration: none;
	color:rgba(255, 255, 255, 0.8);
	border-radius: 4px
	transition-duration: 0.4s;
	cursor: pointer;
	margin: auto;
	margin-bottom:0.5%;
}
      
.glow-button
{
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #4CAF50;
}

.glow-button:hover
{
  background-color: #4CAF50;
  color: #FFFFFF;
}

.rowSelected
{
	background-color: #4CAF50; 
	color: #FFFFFF;
	border: 1px solid #000000;
}

.rowDeselected
{
	background-color: #ffffff; 
	color: #000000;
	border: 1px solid #000000;
}